<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            margin: 40px auto; /* Margen superior de 40px y centra horizontalmente */
            width: 80%; /* Ajusta el ancho del contenido */
            max-width: 800px; /* Evita que se vuelva demasiado ancho */
            text-align: center; /* Centra el contenido en línea (como texto o elementos inline) */
        }
        .container {
            text-align: center; /* Centra el texto dentro del contenedor */
        }
    </style>
    <title>Ejecutar Comando en Agente</title>
</head>

<body>
    <div class="container">
        <h1>Ejecutar Comandos en Agente {{ agent_id }}</h1><br></br>
        {% if error %}
        <div class="error">
            <p>{{ error }}</p>
        </div>
        {% endif %}
        <form method="POST" action="{{ url_for('execute_command', agent_id=agent_id) }}">
            <h3>Introduce un comando y presiona enter:</h3>
            <div class="form-group">
                <input type="text" name="command" placeholder="Escribe el comando" class="form-control custom-input" required>
            </div>
        </form><br></br>
        {% if output %}
        <h3>Resultado de la ejecución:</h3>
        <div class="output-box">
            <pre>{{ output }}</pre>
        </div>
        {% endif %}
       
    </div>
</body>
<a href="{{ url_for('index') }}" class="btn btn-green"  style="position: fixed; bottom: 20px;font-size: 24px; left: 20px;">&larr;</a>
</html>

