<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clave Privada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
          body, html {
      
            margin: 0;
            display: flex;
            justify-content: center; 
        }
        .container {
            display: inline-block; 
            justify-content: center; 
            align-items: center;
            margin-top: 20px; 
        }
    </style>
</head>
<body>
    <div class="container">
    <pre>{{ private_key }}</pre>
    </div>
</body>
<a href="{{ url_for('index') }}" class="btn btn-green"  style="position: fixed; bottom: 20px;font-size: 24px; left: 20px;">&larr;</a>
</html>
